# ignored because app-messy.js is identical to app.js. app-messy.js is the workings with comments and previous attempts.
app-messy.js
# Other reason is because to practice on how to manually add a file to a .gitignore